<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">茱莉亚艺术中心</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">书法课</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">乐器课</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">联系方式</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>茱莉亚艺术教育</h1>
                    <p>师资团队由来自丹麦、美国、香港的国外优秀院校及星海音乐学院、西安音乐学院等国内优秀院校的专业教师组成。接近半数老师为硕士学历。茱莉亚从多方面考察教师的教学水平，有全面的简历筛选及面试考核制度，激励教师始终，激励教师始终以提升学生成绩为目标，积极带领学生参加国内外各类考级及比赛。</p>
                    <a class="btn btn-default page-scroll" href="#about">点击查看书法课程</a>
                    <div class="row-fluid">
                          <ul class="thumbnails example-sites">
                            <li class="span3">
                              <a class="thumbnail" href="http://www.ghostchina.com/" target="_blank">
                                <img src="../static/pic1.jpg" alt="茱莉亚">
                              </a>
                            </li>
                            <li class="span3">
                              <a class="thumbnail" href="https://twibble.io/" target="_blank">
                                <img src="../static/pic2.jpg" alt="茱莉亚">
                              </a>
                            </li>
                            <li class="span3">
                              <a class="thumbnail" href="http://www.gruntjs.net/" target="_blank">
                                <img src="../static/pic3.jpg" alt="茱莉亚">
                              </a>
                            </li>
                            <li class="span3">
                              <a class="thumbnail" href="https://sincerely.com/postagram" target="_blank">
                                <img src="../static/pic4.jpg" alt="茱莉亚">
                              </a>
                            </li>
                          </ul>
                     </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>书法课程</h1>
                    <p><strong>纠正</strong> 坐姿，执笔姿势，学好字的笔画架构，写快写好 </p>
                    <p><code>个性化</code>中小学书法老师亲手为学生写范字，打造个性化教育 </p>
                    <p><code>小班教学</code>让每个学生都得到充分的指导 </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>乐器课程</h1>
                    <p>尤克里里 琴弦柔软，简易上手，学习周期短，属于娱乐性质的轻松乐器，</p>
                    <p>音乐启蒙 四岁半即可学习。现在报名可获尤克里里一枚</p>
                    <p>娱乐功能 和弦易按，尼龙弦柔软伤手，适合弹唱，轻松伴奏，适合喜欢唱歌的大小朋友</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>我们在</h1>
                    <div class="map"><img src="../static/map.png" alt="茱莉亚"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/scrolling-nav.js"></script>

</body>

</html>
